<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>ADD-MONGO</title>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


    <form id="form-add" method="POST" style="padding-inline: 50px;">
        <div class="card">
            <div class="card-header card text-white bg-dark mb-3">
                <h3>- Add Data -</h3>
            </div>
            <div class="card-body">

                <!-- <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="id">
                                ID
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" name="add-id" class="form-control" id="add-id"
                                placeholder="Input New ID ...">
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="name">
                                Name
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" name="addName" class="form-control" id="addName"
                                placeholder="Input Name ...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="age">
                                Age
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" name="addAge" class="form-control" id="addAge"
                                placeholder="Input Age ...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="weight">
                                Weight
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" name="addWeight" class="form-control" id="addWeight"
                                placeholder="Input Weight ...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label" for="birth">
                                Birth
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="date" name="addBirth" class="form-control" id="addBirth">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label" for="squad">
                                Squad
                            </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-group">
                            <select name="addSquad" id="addSquad" class="custom-select custom-select">
                                <option selected>Squad ... ?</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-warning"><a href="/">Back</a></button>
                
            </div>
        </div>
    </form>

</body>

</html>